/*this is my CSS*/
h1{
    color: red;
}
p{
    text-decoration: underline;
}

body{
    display: flex;
    /*flex-direction: column;*/
    padding: 0;
    margin: 0;
}

main {
    display: block;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    background-color: #a7ffeb;
   /* width: 800px;
    height: 600px;*/
    border: 2px solid #004d40;
    margin: 20px auto;
}
